*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-home
{
    display: flex;
    height: auto;
    min-height: 100vh;
    background: url("../images/prism.png");
    align-items: center;
    justify-content: center;
}
.inform-part1
{
	color: #fff;
}
.inform-part1 h2
{
	font-family: 'mount', sans-serif;
	font-size: 27px;
	font-weight: 500;
	text-decoration: none;
}

/*************************************************__ CARD IMAGE __**************************************************/
.new-card
{
    cursor: pointer;
	position: relative;
	width:800px;
	height:350px;
	margin: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 20px;
	background: linear-gradient(135deg,#000000,#1a1a1a);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contain-Pro.dark .new-card
{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}
.new-card img
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 400px;
	transition: 0.5s ;
}
.new-card:hover img
{
	left: 80%;
}
.new-card .content
{
	position: relative;
	width: 60%;
	left: 20%;
	transition: 0.5s;
	padding: 20px 20px 20px 40px;
	opacity: 0;
	visibility: hidden;
}

.new-card:hover .content
{
	opacity: 1;
	visibility: visible;	
	left: 0%;
}
.new-card .content h3
{
	color: #fff;
	padding-bottom: 10px; 
	font-size: 1em;
	line-height: 1em;
}
.new-card .content h3:nth-child(3)
{
    border-bottom: 1px solid #fff;
}


.contain-Pro.dark .new-card .content h3
{
    color: #1390d8;    
}
.contain-Pro.dark .new-card .content h3:nth-child(3)
{
    border-bottom: 1px solid #1390d8;
}
.new-card .content p
{
	color: #fff;
    margin-top: 5px;
}
.contain-Pro.dark .new-card .content p
{
    color: #18aaff;
}
.new-card .content a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #1E90FF;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px; 
    text-decoration:none;
    border: 1px solid transparent;
}
.contain-Pro.dark .new-card .content a
{
    color: #18aaff;
}

.new-card:hover .content a:hover
{
    background: transparent;
    border-radius: 40px;
    transition: 0.5s;
    border-color: #1E90FF;
    color: #1E90FF;
}
